:root {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}

.book-container {
    background-image: url(imgs/library_bg.png);
    width: 100vw; 
}

.new-book-button {
    z-index: 1;
    background-color: rgb(23, 23, 48);
    background-size: cover;
    border: none;
    color: white;
    min-width: 150px;
}

.form-container {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/library_bg.png);
    background-position: center;
    background-size: cover;
}

.form-container form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.form-container form input {
    border-radius: 10px;
    border: none;
}

.form-container form input:focus {
    outline-color: rgb(168, 0, 0);
}

#submit-button {
    border-radius: 10px;
    border: none    ;
}

.wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
}

.was-it-read input[type="checkbox"] {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

.form-container legend {
    margin-bottom: 10vh;
}

.form-container input {
    min-height: 1.1rem;
    font-size: 0.8rem;
    padding: 5px;
}

button[type="submit"] {
    min-height: 50px;
}

button[type="submit"]:hover {
    background-color: rgb(190, 190, 190);
}



.book-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
}

.book {
    display: grid;
    width: 300px;
    height: 300px;
    background-image: url(imgs/book_material.jpg);
    background-size: cover;
    color: rgb(105, 30, 0);
    border: 1px solid black;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    margin: 20px;
}

.title {
    font-size: 1.1rem;
}

.num-of-pages {
    font-size: 0.7rem;
}

.book-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-align: center;
    opacity: 70%;
    border-radius: 10px;
}


.book img {
    height: 200px;
    width: 140px;
    border-radius: 5px;
}

.removeBookButton {
    box-sizing: content-box;
    position: relative;
    top: 50%;
    left: 132%;
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 100px;
    background-color: hsl(0, 33%, 47%);
    color: wheat;
}

.removeBookButton:hover {
   background-color: hsl(0, 100%, 35%);
}

#book-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #fff1d4;
}

#book-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #000000;
}

#book-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5a5a5a;
}

#numOfPages {
    width: 100px;
}

#title {
    width: 200px;
}

#author {
    width: 300px;
}

#submit-button {
    width: 300px;
}

.form-container fieldset {
    padding-left: 50px;
}